@media (max-width:500px){
    body{
        /* width: 100vw;
        position: absolute;
        overflow-x: hidden; */
    }
    .navbar{
        width: 100vw;
        height: 60px;
    }
    
    /* .home img{
        height: 100vh;
        display: none;index.html
        background: url(images/ironman.jpg)no-repeat center center fixed;
        
        display: none;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        
    } */

    .home{
        background: url(images/mobileironman.png) no-repeat center center;
        background-size: cover;
    }
    .home .mob{
        display: block;
    }
    .home .desk{
        display: none;
    }
    /* .home .container{
        background: url(images/mobileironman.png);
    } */
    .home .title h3{
        font-size: 30px;
    }
    
    /* .home img{
        background: url(images/ironman.jpg) no-repeat center fixed;
    } */
    .acontainer{
        flex-direction: column;
        justify-content: center;
        gap: 0;
        text-align: center;
        
    }
    .acontainer .texts h2{
        font-size: 25px;
    }
    .about{
        margin-top: 100px;
        width: 100vw;
        padding: 0 10px;
        
    }
    .about .dp img{
        /* font-size: 17px; */
        width: 200px;
    }
    .acontainer .texts{
        width: 100%;
    }
    .event .row1{
        flex-direction: column;
    }

    /* ============menu style============ */
    .menu-btn {
        display: block;
        z-index: 999;
      }
    .navbar .menu {
        position: fixed;
        top: 0;
        /* left: 0; */
        right: -300px;
        height: 100vh;
        width: 300px;
        padding-top: 80px;
        background: #262626;
        text-align: center;
        transition: all 0.5s ease;
      }

    
    .navbar .menu.active {
        right: 0;
      }
    .menu-btn i.active:before {
        content: "\292C";
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
        /* justify-content: center; */
      }
    .btnuh{
        display: none;
    }
    .main-box {
        display: none;
    }


    .pricemaindiv{
        flex-direction: column;
        padding: 0 50px;
        gap: 1.5rem;
    }
    .event{
        padding: 20px 10px;
    }
    .skill .skill-des .column,
  .skill .skill-des2 .column,
  .contact .contact-des .column {
    width: 100%;
    margin-bottom: 25px;
  }

  .event .card img{
    display: table;
    margin: 0 auto  ;
  }


  /* ====events==== */

  .card{
    margin-bottom: 50px;

  }
  .event .row1{
    margin-top: 0;
  }
  .spcontainer .cont{
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    
  }
  .spcontainer .main-cont{
    /* display: flex; */
    flex-direction:row;

  }
  .spcontainer .card{
    padding: 0;
    margin: 0;
    border-bottom: 0;
  }
  .spcontainer img{
    float: center;
    margin: auto;
    margin-left: 53px;
  }

  /* ============Pricetag========== */
  .buy-tickets{
    padding: 10px 0;
    background: black;
  }
  .prcontainer{
    background: black;
  }

  /* ============sponser========== */ 
  .spcontainer{
    background: #111;
  }

  /* ============footer============= */
  .footer-wave-svg {
    background-color: #151414;
  }
  .footer-content {
    background: #151414;
  }
}

